.model{
  width: 100%;
  height: 100%;
  /* min-width: 500px; */
 overflow-x: hidden;
}

.attendence{
  display: block;
    height: 500px;
    width: 100%;
    margin: auto;
  
    overflow-y: scroll;
  border: none;
  }
  .attendence table {
    width: 100%;
    
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  }
  
  .attendence td, .attendence th {
    border: 1px solid #ddd;
    /* border-radius: 5px; */
    padding: 5px;
    text-align: center;
  }
  .attendence td:nth-child(1){
    font-weight: 600;
    color: aliceblue;

    background-color: #aa8e04;

  }
  .attendence th{
    background-color: #aa8e04;
    position: static;
     padding: 10px;
    z-index: 4;
  }
  .attendence tr:nth-child(1){
    position: sticky;
    top: 0;
    left: 0;
    
    background-color: #aa8e04;
    z-index: 8;
  }
  .attendence th {
    padding-top: auto;
    padding-bottom: auto;
    
    background-color: #aa8e04;
    color: white;
  }


.calender{
  /* min-width: 432px; */
 display: flex;
 overflow-x: scroll;

}
.calender::-webkit-scrollbar{
  display: none;
}
.date{
  display: block;
  margin: 5px;
  width: 200px;
  height: 50px;
  padding: 10px;
  font-weight: 800;
  color: aliceblue;
  /* border-left: 2px solid rgb(247, 204, 86); */
  text-align: center;
background-color: rgb(155, 117, 3);
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.258);
border-radius: 10px;
cursor: pointer;
}

.date:hover {
  transform: scale(1.1);
  background-color: rgba(1, 122, 162, 0.992);
}

.chooseDate {
  transform: scale(1.1);
  background-color: rgba(1, 122, 162, 0.992);
}




.title {
  /* min-width: 400px; */
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(1, 122, 162);
  /* border-radius: 10px; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.259);
  padding: 20px;
  gap: 30px;
  color: aliceblue;
  transition: 0.2s;
  cursor: pointer;
  justify-content: space-evenly;
  /* overflow-x: scroll; */
  
}
.description {

  text-align: center;
  font-size: medium;
  font-weight: 800;
}


@media screen and (max-width: 1000px) {

  .attendence td:nth-child(2), .attendence th:nth-child(2) {
    display: none;
  }
 
}