.container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: aliceblue;
}

.model {
  width: 80vw;
  height: 100vh;
  margin: auto;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 500;
}

.title {
  background-color: rgba(1, 122, 162, 0.992);
  display: grid;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  padding: 20px;
  font-size: large;
}
/* span {
  font-size: 25px;
} */
.roomName {
  display: block;
  font-size: 20px;
  width: inherit;
}

input {
  width: inherit;
  border: 1px solid black;
  outline: none;
  height: auto;
  font-size: 20px;
  padding: 10px;
  background-color: inherit;
  width: 50%;
  border-radius: 20px;
}
input:hover {
  border: 1px solid rgba(1, 122, 162, 0.992);
  cursor: text;
}
/* span {

} */
.values {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 50px;
}
.daytime {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}
select {
  width: 100px;
  height: inherit;
  background-color: aliceblue;
  border-radius: 25px;
  text-align: center;
  border: 1px solid black;
}

.addButton {
  display: block;
  border: 1px solid rgb(1, 122, 162);
  border-radius: 25px;
  padding: 15px 5px;
  width: 100px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
  position: relative;
  color: black;
}
.addButton:hover {
  background-color: rgba(1, 122, 162, 0.692);
  color: aliceblue;
  transform: translate(2px, 2px);
}
button {
  background-color: aliceblue;
}
.dayTime {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  gap: 20px;
}
.submitButton {
  margin-top: 50px;
  display: grid;
  justify-content: center;
}
.submitButton > button {
  color: aliceblue;
  background-color: rgba(1, 122, 162, 0.992);
}
