.LoadingBack {
  background-color: #e3e3e34a;
  height: 100%;
  width: 100%;
  z-index: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  z-index: 10px;
}
