
.present {
    display: inline-block;
    border: 1px solid rgb(1, 122, 162);
    border-radius: 25px; 
    padding: 10px 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
    position: relative;
    color: black;
    cursor: pointer;
    margin: 5px;
}

.absent, .reset {
  display: inline-block;
  border: 1px solid rgb(182, 68, 2);
  border-radius: 25px; 
  padding: 10px 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
  position: relative;
  color: black;
  cursor: pointer;
  margin: 5px;
}
.reset:hover{
  background-color: rgb(182, 181, 181);
}
.absent:hover{
  background-color: rgb(182, 68, 2);
  color:aliceblue;
}
.present:hover{
  background-color:  rgb(1, 122, 162);
  color:aliceblue;
}

.pSpan, .aSpan {
  color: aliceblue;
  font-weight: 400;
  padding: 5px;
  margin: 1px;
  display: inline-block;
  /* border: 2px solid black; */
  border-radius: 50%;
}

.pSpan{
  background-color: rgb(1, 122, 162);
}

.aSpan{
 background-color: rgb(182, 68, 2);
}